@media only screen and (max-width: 1200px) {
    
    /* GRID Layout */
        main {
            display: grid;
            grid-template-areas: 
                'section1'
                'section2'
                'section3'
                'section4';
        }

        #section1 {
            min-height: 75vh;
        }
        
        #section2 {
            min-height: 75vh;
        }
        
        #section3 {
            min-height: 75vh;
        }
        
        #section4 {
            min-height: 75vh;
        }

}

@media only screen and (max-width: 600px) {
    /* HEADER */
        header {
            padding-top: 0px;
            padding-bottom: 0px;
        }

        header > a {
            display: flex;
            align-items: center;
        }

        nav ul li {
            display: block;
        }

        nav ul li span {
            display: none;
        }

        nav ul {
            margin-top: 0.5em;
            margin-bottom: 0.5em;
        }


    /* SECTION 1 */
        #section1 > h1 {
            font-size: 2.5em;
        }

        #section1 > div {
            padding: 30px;
        }

    
    /* SECTION 2 */
        #card-container {
            flex-flow: column wrap;
        }

        .card {
            flex-basis: auto;
        }

        .card:nth-child(even) {
            display: none;
        }

    /* SECTIOn 3 */
        .card2 {
            flex-flow: column wrap;
        }

        .card2 > div {
            flex-basis: auto;
        }

        .card2 > img {
            max-width: 100%;
        }

        .card2:first-child > img {
            display: none;
        }

    /* SECTION 4 */
        #section4 {
            flex-flow: column wrap;
            padding-bottom: 20px;
        }

        #section4 div {
            flex-basis: auto;
        }

        #title-container > h2 {
            font-size: 0.9em;
        }

        #map-container > ul {
            font-size: 0.7em;
            text-align: center;
            padding: 0px;
        }

}